---
title: English
layout: default-en.hbs
---

<div class="header">

	<ul class="nav">
		<li>Foo</li>
		<li>Bar</li>
		<li>Baz</li>
		<li>Boz</li>
		<li>Biz</li>
	</ul>

</div> <!-- header -->

<div class="band band--1" id="section-vision">

	<a class="logo" href="/">
		<img src="{{ site.img }}/apple-touch-icon-114x114.png" alt="">
	</a>

	<h1 class="tagline">we hack autism</h1>

</div> <!-- band -->

<div class="wrapper">

	<div class="grid">

		<div class="grid__item one-third">

			<p class="greybox">Why -</p>

		</div><!--

	--><div class="grid__item two-thirds">
			<p class="greybox">we want children with social, communication and sensory disabilities, to live a normal life</p>
		</div><!--

	--><div class="grid__item one-third">

			<p class="greybox">How -</p>

		</div><!--

	--><div class="grid__item two-thirds">
			<p class="greybox">by using smarter, adaptable and connected technologies such as robitcs</p>
		</div><!--

	--><div class="grid__item one-third">

			<p class="greybox">What -</p>

		</div><!--

	--><div class="grid__item two-thirds">
			<p class="greybox">we happen to be creating Moti, a new kind of interactive smart toy</p>
		</div>

	</div> <!-- grid -->

</div> <!-- wrapper -->

<div class="band band--2" id="section-moti">

	<h1 class="tagline">robotics + health = new ways to play, learn and progress</h1>

</div> <!-- band -->

<div class="wrapper">

	<div class="grid">

		<div class="grid__item two-thirds">

			<p class="greybox">motion : motor skills</p>

		</div><!--

	--><div class="grid__item one-third">

			<img class="img--right" src="" alt="">

			<p class="greybox">LLorem ipsum ipsum ipsumLorem ipsum ipsum ipsumLorem ipsum ipsum ipsumLorem ipsum ipsum ipsumLorem ipsum ipsum ipsumLorem ipsum ipsum ipsumorem ipsum ipsum ipsum</p>

			<p class="greybox">LLorem ipsum ipsum ipsumLorem ipsum ipsum ipsumLorem ipsum ipsum ipsumLorem ipsum ipsum ipsumLorem ipsum ipsum ipsumLorem ipsum ipsum ipsumorem ipsum ipsum ipsum</p>

			<p class="greybox">LLorem ipsum ipsum ipsumLorem ipsum ipsum ipsumLorem ipsum ipsum ipsumLorem ipsum ipsum ipsumLorem ipsum ipsum ipsumLorem ipsum ipsum ipsumorem ipsum ipsum ipsum</p>

			<p class="greybox">LLorem ipsum ipsum ipsumLorem ipsum ipsum ipsumLorem ipsum ipsum ipsumLorem ipsum ipsum ipsumLorem ipsum ipsum ipsumLorem ipsum ipsum ipsumorem ipsum ipsum ipsum</p>

		</div><!--

	--><div class="grid__item two-thirds">

			<p class="greybox">light music and touch surface : sensory stimulation</p>

		</div><!--

	--><div class="grid__item two-thirds">

			<p class="greybox">by using smarter, adaptable and connected technologies such as robitcs</p>

		</div><!--

	--><div class="grid__item two-thirds">

			<p class="greybox">by using smarter, adaptable and connected technologies such as robitcs</p>

		</div>

	</div> <!-- grid -->

</div> <!-- wrapper -->

<div class="band band--3" id="section-features">

	<h1 class="tagline">motion, music & light</h1>

</div> <!-- band -->

<div class="wrapper">

	<div class="grid">

		<div class="grid__item one-third">

			<img class="img--right" src="" alt="">

			<p class="greybox">LLorem ipsum ipsum ipsumLorem ipsum ipsum ipsumLorem ipsum ipsum ipsumLorem ipsum ipsum ipsumLorem ipsum ipsum ipsumLorem ipsum ipsum ipsumorem ipsum ipsum ipsum</p>

			<p class="greybox">LLorem ipsum ipsum ipsumLorem ipsum ipsum ipsumLorem ipsum ipsum ipsumLorem ipsum ipsum ipsumLorem ipsum ipsum ipsumLorem ipsum ipsum ipsumorem ipsum ipsum ipsum</p>

			<p class="greybox">LLorem ipsum ipsum ipsumLorem ipsum ipsum ipsumLorem ipsum ipsum ipsumLorem ipsum ipsum ipsumLorem ipsum ipsum ipsumLorem ipsum ipsum ipsumorem ipsum ipsum ipsum</p>

			<p class="greybox">LLorem ipsum ipsum ipsumLorem ipsum ipsum ipsumLorem ipsum ipsum ipsumLorem ipsum ipsum ipsumLorem ipsum ipsum ipsumLorem ipsum ipsum ipsumorem ipsum ipsum ipsum</p>

		</div><!--

	--><div class="grid__item two-thirds">

			<p class="greybox">motion : motor skills</p>

		</div><!--

	--><div class="grid__item two-thirds">

			<p class="greybox">light music and touch surface : sensory stimulation</p>

		</div><!--

	--><div class="grid__item two-thirds">

			<p class="greybox">by using smarter, adaptable and connected technologies such as robitcs</p>

		</div><!--

	--><div class="grid__item two-thirds">

			<p class="greybox">by using smarter, adaptable and connected technologies such as robitcs</p>

		</div>

	</div> <!-- grid -->

</div> <!-- wrapper -->

