---
title: Discover Moti
layout: front-page.hbs
description: Moti is new kind of interactive smart toy designed specifically for children with autism spectrum disorder
keywords: robotics, robot, smart toy, autism, children, interactive
---

<div class="brand">

	<img src="{{ site.img }}/apple-touch-icon-114x114.png" alt="Moti Logo" class="logo">

</div>

<div class="landing">

	<h1 class="tagline">say hello to Moti</h1>

	<p class="subtag">and discover a new way to learn, play and progress</p>

	<p><button href="" class="btn btn--positive btn--full">Get in touch!</button></p>

</div> <!-- landing -->

<div class="vid">

	<div class="vid-fade"></div>

	<div id="video-container">

		<video id="splash" class="vid-bg" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0">
			<source src="assets/vid/moti.mp4" type="video/mp4">
			Your browser does not support the video tag. I suggest you upgrade your browser to <a href="https://www.google.com/intl/en/chrome/browser/">Google Chrome</a>.

		</video> <!-- splash -->

	</div> <!-- video-container -->

</div> <!-- vid -->

