<!DOCTYPE html>
<html lang="{{site.french}}">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{title}} • {{site.title}}</title>

		<link rel="stylesheet" href="{{assets}}/css/style.css">

		{{> html5-shim }}

	</head>
	<body>

		{{> navbar-fixed-top }}

		<div class="container theme-showcase" role="main">

			{{> body }}

		</div>

		<!-- jQuery -->
		<script src="https://code.jquery.com/jquery.js"></script>
	</body>
</html>
